<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.aotuman.studydemo">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" />
        <activity android:name=".leak.FirstActivity" />
        <activity android:name=".leak.SecondActivity" />
        <activity android:name=".leak.AActivity" />
        <activity android:name=".leak.BActivity" />
        <activity android:name=".recyclerview.RvDemoActivity" />
        <activity android:name=".handler.HandlerDemoActivity">

        </activity>
        <activity android:name=".handler.barrier.HandlerBarrierActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".glide.GlideMainActivity"></activity>
        <activity android:name=".glide.recyclerview.GlideRvActvity"></activity>
        <activity
            android:name=".searchablerecyclerview.ui.MainActivity"
            android:theme="@style/NoTitleTheme"></activity>
        <activity
            android:name=".customview.FormPageActivity"
            android:theme="@style/NoTitleTheme"></activity>
        <activity android:name=".dsl.MainActivity"></activity>
        <activity
            android:name=".threadsample.DisplayActivity"
            android:label="@string/activity_title">
        </activity>
        <activity
            android:name=".lifecycles.LCMainActivity"
            android:label="@string/title_activity_life_cycles_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".coroutine.CoroutineMainActivity">

        </activity>
        <activity android:name=".coroutine.CoroutineActivityOne">


        </activity>

        <activity android:name=".stickheader.demo.MainActivity">
        </activity>
        <activity android:name=".richtextview.RichTextActivity">
        </activity>
        <activity android:name=".statelayout.SampleActivity">
        </activity>
        <activity android:name=".flowlayout.FlowMainActivity">

        </activity>
        <activity android:name=".ellispetextview.EllipseActivity2">

        </activity>
        <activity android:name=".wheelview.test.MainActivity">
        </activity>
        <activity android:name=".twodimensionScroll.MainActivity">

        </activity>

        <activity android:name=".yoga.DynamicViewActivity">

        </activity>

        <activity
            android:name=".yoga.BenchmarkActivity"
            android:exported="false"
            />
        <activity android:name=".yoga.TestActivity"/>

        <!--
            No intent filters are specified, so android:exported defaults to "false". The
            service is only available to this app.
        -->
        <service
            android:name=".threadsample.RSSPullService"
            android:exported="false" />
        <!--
            The attribute "android:exported" must be set to "false" to restrict this content
            provider to its own app. Otherwise, all apps could access it.
        -->
        <provider
            android:name=".threadsample.DataProvider"
            android:authorities="@string/authority"
            android:exported="false" />

        <!--ipc messenger -->
        <activity android:name=".ipc.messenger.MessengerActivity">

        </activity>

        <service android:name="com.aotuman.studydemo.ipc.messenger.MessengerService" android:process=":remote"></service>

        <!--ipc aidl-->
        <activity android:name=".ipc.aidl.AIDLActivity">

        </activity>
        <service android:name="com.aotuman.studydemo.ipc.aidl.AIDLService" android:process=":remote"></service>

        <!--mvvm demo-->
        <activity android:name=".jetpack.mvvm.view.UserListActivity">
        </activity>

        <!--mvvm dynamic view demo-->
        <activity android:name=".jetpack.company.view.FormPageActivity">
        </activity>
        <activity android:name=".jetpack.company.FormFirstActivity">

        </activity>

        <!--mvp demo-->
        <activity android:name=".jetpack.mvp.MVPActivity">
        </activity>

        <!--databing demo-->
        <!--<activity android:name=".jetpack.databinding.DataBindingLearningActivity">
        </activity>-->

        <!--dagger demo-->
        <activity android:name=".dagger2stu.astudy.AstudyActivity">
        </activity>
        <activity android:name=".dagger2stu.bstudy.BstudyActivity">
        </activity>
        <activity android:name=".dagger2stu.cstudy.CstudyActivity">
        </activity>


        <activity android:name="com.aotuman.studydemo.arraymap.ArrayMapActivity">

        </activity>
    </application>

</manifest>